<a href="[product PDP url]" [style]>[Anchor]</a>
<a href="[product PDP url]" [style]>[Anchor]</a><br>
<a href="[product PDP url]" [style]>[Anchor]</a>
<a href="[product PDP url]" [style]>[Anchor]</a>
{{product_id="5" anchor="" color="#FF99FF"}}
{{product_id="12" anchor="" color="#1299FF"}}
{{product_id="4" anchor="" color=""}}
{{product_id="22" anchor="Boeing 787-10" color="#129999"}}
