#product-list-table-container {
    padding-bottom: 64px;
}

#product-list-table-container table {
    border-collapse: collapse;
    width: 100%;
}

#product-list-table-container th {
    color: white;
    background-color: #0F69FF;
}

#product-list-table-container td {
    color: black
}

#product-list-table-container td a {
    color: black
}

#product-list-table-container th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#product-list-table-container tr:hover {
    background-color: #eee;
}

#product-list-table-container #row-header-name {
    width: 30%;
    cursor: pointer;
}

#product-list-table-container #row-header-price {
    width: auto;
    text-align: right;
    cursor: pointer;
}

#product-list-table-container #row-header-likes-counter {
    width: 40%;
    text-align: right;
}

#product-list-table-container #row-header-likes-button {
    width: 7%;
}

#product-list-table-container tr.table-row td:nth-child(2) {
    text-align: right;
}

#product-list-table-container tr.table-row td:nth-child(3) {
    text-align: right;
}

#product-list-table-container td:last-child {
    width: 150px;
    text-align: right;
}

#reviews-container .review {
    border: 2px solid gray;
    padding: 5px;
    margin: 10px 0;
}

.discount {
    color: red;
    font-weight: bold;
}

.old {
    color: gray;
    text-decoration: line-through;
}